data_cost/*
data_cost_old/*
data_meta/*
data_meta_old/*
.mypy_cache/*
.vscode/*
webdriver/*
*.xls*
energi_flow.txt
energi/_PRIVATE*
*.log
ipynb/*
mall/*
*/__pycache__/*
*/OLD/*
*.pbix
.ipynb*
_test*
*.ipynb
consumption_eon_main_multiple_periods.py
